html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.display-on {
  display: block;
}

.display-off {
  display: none;
}

.draggable {
  padding: 20px;
}

.position-frame-spotify {
  z-index: 1;
  position: absolute;
  top: 150px;
  left: 15px;
  width: 300px;
}

.position-frame-twitter {
  z-index: 2;
  position: absolute;
  top: 560px;
  left: 15px;
  width: 300px;
}
